.drawer.split-pane > .split-pane-divider {
    -fx-padding: 0 0 0 0;
}

.toolbar-button, .sunken-button {
    -fx-background-color: transparent;
}

.toolbar-button:hover, .sunken-button:hover {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
}

.menu-button > .arrow-button {
    -fx-padding: 0;
}

.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}
